_ReSharper*
*.suo
bin
obj
*.user
NuGet/lib/
/.nuget
NuGet/*.nupkg
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
tools/T4Generators/PlainElastic.T4Generators/Builders/*/*/*.cs
tools/T4Generators/PlainElastic.T4Generators/Builders/*/*/*.ignore
**/UserPrefs.xml
.vs/
