*      text=auto

*.bmp  binary
*.jpg  binary
*.png  binary
*.gif  binary

*.bat text
*.cmd text
*.config text
*.cs text diff=csharp
*.csproj text merge=union
*.md text
*.nuspec text
*.ps1 text
*.resx text merge=union
*.txt text
*.xml text

*.sln text eol=crlf merge=union