*.bmp  binary
*.jpg  binary
*.png  binary
*.gif  binary

*.bat text eol=crlf
*.cmd text eol=crlf
*.config text eol=crlf
*.cs text eol=crlf diff=csharp
*.csproj text eol=crlf merge=union
*.md text eol=crlf
*.nuspec text eol=crlf
*.ps1 text eol=crlf
*.resx text eol=crlf merge=union
*.txt text eol=crlf
*.xml text eol=crlf

*.sln text eol=crlf merge=union